.titulo-contatos {
  padding-top: 30px;
  padding-left: 100px;
  text-align: left;
  font-weight: bold;
  height: 120px;
  border-top: 5px solid #c3933f;
  /* border-bottom: 5px solid #c3933f; */
  margin-bottom: 25px;
  color: #8b0000;
}

.grid-contato {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  justify-content: center;
}

.df {
  width: 350px;
  height: 200px;
  padding: 10px;
}

.df:nth-child(2) {
  /* width: 350px;
  height: 250px; */
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col img {
  width: 64px;
  padding-top: 15px;
}

.col h2 {
  padding-top: 20px;
  color: #c3933f;
}

.col p {
  margin-top: auto;
  padding-bottom: 15px;
  color: #8b0000;
  font-weight: bold;
  font-size: 20px;
}

.maps-contato {
  padding: 20px;
  background-color: #8b0000;
  margin-top: 100px;
  margin-bottom: 200px;
}

.maps-contato h2 {
  text-align: center;
  color: #c3933f;
  font-size: 30px;
  padding-bottom: 10px;
}

.horario-span {
  color: #fff;
}

.horarios {
  color: #dfc571;
}

@media (max-width: 1050px) {
  .grid-contato {
    grid-template-columns: repeat(2, 1fr);
  }

  .df:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    grid-column: 1 / -1;
  }

  .df:nth-child(2) {
    border: none;
  }
}

@media (max-width: 700px) {
  .grid-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .df {
    padding: 0;
    border: none !important;
    width: auto;
  }

  .col h2 {
    font-size: 1.2rem;
  }

  .col p {
    font-size: 1rem;
    margin-top: 0;
  }

  .col img {
    width: 50px;
  }
}

@media (max-width: 600px) {
  .titulo-contatos {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 1.7rem;
    margin-bottom: 0px;
  }
}

@media (max-width: 400px) {
  .titulo-contatos {
    padding-top: 15px;
  }

  .horarios {
    font-size: 1rem;
  }
}
