.titulo-contato {
  color: #8b0000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-top: 5px solid #c3933f;
}

.img-referencia{
  width: 30px;
  height: 30px;
  padding: 5px;
}

.endereco{
  border-top: 5px solid #c3933f;
  border-bottom: 5px solid #c3933f;
}

.info-contato {
  padding: 20px;
  height: 250px;
  display: grid;
  align-items: center;
  background-color: #fff;
}

.info-contato h2 {
  color: #8b0000;
}

.info-contato span {
  color: #000;
}
