.footer-bg {
  background-color: #8b0000;
}

.rodape {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

footer h2 {
  color: #dfc571;
}

.info-left {
  margin-left: 30px;
}

.info-left .contatos-icons {
  margin-bottom: 20px;
}

.info-left .contatos-icons img {
  margin-right: 10px;
}

.info-left p {
  text-align: left;
}

.info-right {
  margin-right: 50px;
}

.info-right a {
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}

.info-right ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.onda {
  margin-bottom: -10px;
  width: 100%;
}

@media (max-width: 600px) {
  .rodape {
    display: grid;
    grid-template-columns: 1fr;
  }

  .info-right {
    justify-items: center;
    text-align: center;
    margin: 0px;
  }

  .info-right a {
    font-size: 1rem;
  }

  .info-left {
    display: none;
  }
}
