.i-1 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-1-medalhão_de_mandioca_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-2 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-2_medalhao_de_kibe_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-3 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-3__900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-4 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-4_frango_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-5 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-5_kafta_tradicional_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-6 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-6_kaftão_de_carne_recheado_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-7 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-7_kaftão_de_frango_recheado_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-8 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-8_pão_de_alho_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-9 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-9_kibao_queijo_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-10 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-10_linguica_fina_tradicional_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-11 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-11_linguica_fina_apim_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-12 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-12_medalhao_de_frango_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-13 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-13_panceta_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-14 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-14_queijo_mussarela_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-15 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-15_queijo_coalho_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}

.i-16 {
  background-image: url(../assets_reginaldo/img_espetos/otimizada/i-16_tulipa_900.png);
  background-color: rgba(0, 0, 0, 0.9);
}
