.i-1 {
  background-image: url(../img-espetos/espetos_editados/i-1-medalhão_de_mandioca.png);
  background-color: black;
}

.i-2 {
  background-image: url(../img-espetos/espetos_editados/i-2_medalhao_de_kibe.png);
  background-color: black;
}

.i-3 {
  background-image: url(../img-espetos/espetos_editados/i-3_.png);
  background-color: black;
}

.i-4 {
  background-image: url(../img-espetos/espetos_editados/i-4_frango.png);
  background-color: black;
}

.i-5 {
  background-image: url(../img-espetos/espetos_editados/i-5_kafta_tradicional.png);
  background-color: black;
}

.i-6 {
  background-image: url(../img-espetos/espetos_editados/i-6_kaftão_de_carne_recheado.png);
  background-color: black;
}

.i-7 {
  background-image: url(../img-espetos/espetos_editados/i-7_kaftão_de_frango_recheado.png);
  background-color: black;
}

.i-8 {
  background-image: url(../img-espetos/espetos_editados/i-8_pão_de_alho.png);
  background-color: black;
}

.i-9 {
  background-image: url(../img-espetos/espetos_editados/i-10_kibao_queijo.png);
  background-color: black;
}

.i-10 {
  background-image: url(../img-espetos/espetos_editados/i-10_linguica_fina_tradicional.png);
  background-color: black;
}

.i-11 {
  background-image: url(../img-espetos/espetos_editados/i-11_linguica_fina_apim.png);
  background-color: black;
}

.i-12 {
  background-image: url(../img-espetos/espetos_editados/i-12_medalhao_de_frango.png);
  background-color: black;
}

.i-13 {
  background-image: url(../img-espetos/espetos_editados/i-13_panceta.png);
  background-color: black;
}

.i-14 {
  background-image: url(../img-espetos/espetos_editados/i-14_queijo_mussarela.png);
  background-color: black;
}

.i-15 {
  background-image: url(../img-espetos/espetos_editados/i-15_queijo_coalho.png);
  background-color: black;
}

.i-16 {
  background-image: url(../img-espetos/espetos_editados/i-16_tulipa.png);
  background-color: black;
}