/* Estilo de cabeçalho */
.menu {
  display: flex;
  justify-content: center;
  background-color: #8b0000;
  padding-top: 5px;
  padding-left: 55px;
}

.menu li {
  list-style: none;
}

.titulo {
  height: 120px;
  background-color: #8b0000;
  color: #dfc571;
  display: flex;
  align-items: center;
  padding-left: 100px;
  border-top: 5px solid #c3933f;
}

.menu ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1.5;
  font-size: 1.15rem;
  padding-inline: 10px;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.15s ease;
}

/* Seleciona exatamente a logo do nav do header e tira a barra que cria embaixo no hover */
.menu ul li:nth-child(4) a::after {
  width: 0;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu ul li img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #8b0000;
}

.img-mobile {
  display: none;
}

/* Fim estilo cabeçalho */

@media (min-width: 1500px) {
  .menu a {
    /* background-color: blue; */
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .img-mobile {
    display: block;
    margin-right: 20px;
  }

  .menu ul li img {
    display: none;
  }

  .menu {
    justify-content: end;
    padding: 0px;
  }

  .menu img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #8b0000;
    width: 100vw;
    height: 230px;
    padding-top: 10px;
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 1000;
  }

  .menu ul.ativo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  .fecharMobile::before {
    content: " ";
    width: 32px;
    height: 32px;
    background-image: url(../assets_reginaldo/icons/fechar.png);
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px;
    cursor: pointer;
  }

  .titulo {
    padding-left: 20px;
  }
}
