.img-titulo {
  display: flex;
  width: 100%;
  height: calc(100vh - 87px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets_reginaldo/foto-home-2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  border-top: 5px solid #bbc628;
  border-bottom: 5px solid #bbc628;
}

.titulo-inicial {
  position: relative;
}

.container-home {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.img-titulo h1 {
  font-size: 5rem;
  font-weight: 600;
}

.img-titulo img {
  width: 15%;
  border-radius: 50%;

  /* Degrade */
  mask-image: radial-gradient(circle, black 50%, transparent 64%);
  -webkit-mask-image: radial-gradient(circle, black 50%, transparent 64%);

  mask-mode: alpha;
  -webkit-mask-mode: alpha;
}

.home-quem-somos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  padding-inline: 10px;
}

.home-quem-somos p {
  font-size: 25px;
  margin-bottom: 0px;
  padding-inline: 10px;
}

.title-quem-somos {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  #Logo_quem_somos {
    width: 300px;
    grid-row: 2;
    justify-self: center;
  }
}

.p-quem-somos {
  display: flex;
}

.p-quem-somos p {
  align-self: center;
}

.title-quem-somos h1 {
  font-size: 3rem;
  text-align: center;
  color: #8b0000;
}

.title-quem-somos button {
  padding: 5px 30px 5px 30px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #8b0000;
  justify-self: center;
}

.title-quem-somos button a {
  color: #dfc571;
}

.title-quem-somos button:hover,
.home-produtos button:hover {
  cursor: pointer;
  background-color: #a30f0f;
}

/* Seção produtos home */

.home-produtos {
  margin-bottom: 100px;
}

.home-produtos li {
  list-style: none;
}

.home-produtos h1 {
  font-size: 45px;
  color: #8b0000;
  text-align: center;
}

.produtos ul {
  display: flex;
  gap: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
}

.produtos ul::-webkit-scrollbar {
  display: none;
}

.produtos img {
  width: 200px;
  height: 170px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  border-start-start-radius: 5px;
  border-top-right-radius: 5px;
}

.produtos p {
  text-align: center;
  background-color: #ffe4e1;
  margin-top: -10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-end-end-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home-produtos button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #8b0000;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  margin-left: auto;
  margin-right: auto;
}

.home-produtos button a {
  color: #dfc571;
}

.home-produtos button img {
  width: 24px;
}

/* Seção parceiros home */

.home-parceiros {
  margin-bottom: 100px;
}

.home-parceiros li {
  list-style: none;
}

.home-parceiros h1 {
  font-size: 45px;
  color: #8b0000;
  text-align: center;
}

.home-parceiros p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.parceiros {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  row-gap: 30px;
  padding-inline: 20px;
}

.parceiros img {
  width: 300px;
}

@media (max-width: 900px) {
  .img-titulo h1,
  .img-titulo h2 {
    text-align: center;
  }

  .home-produtos button {
    margin-top: 20px;
  }

  .home-produtos .produtos {
    border: none !important;
  }

  .produtos ul {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    justify-content: start;
    padding-inline: 10px;
  }

  .produtos ul li {
    flex: 0 0 auto;
    display: inline-block;
    scroll-snap-align: start;
  }

  .parceiros {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .parceiros::-webkit-scrollbar {
    display: none;
  }

  .parceiros img {
    width: 150px;
  }
}

@media (max-width: 650px) {
  .title-quem-somos h1,
  .home-produtos h1,
  .home-parceiros h1 {
    font-size: 2rem;
  }

  #Logo_quem_somos {
    max-width: 200px;
  }

  .home-quem-somos {
    grid-template-columns: 1fr;
    padding-inline: 5px;
    margin-bottom: -50px;
    padding-inline: 20px;
  }

  .home-quem-somos p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
  }

  .home-quem-somos button {
    margin-top: 10px;
  }

  .parceiros img {
    width: 100px;
  }

  .home-parceiros p {
    font-size: 20px;
    padding-inline: 10px;
  }

  .home-parceiros h1 {
    margin-bottom: 20px;
  }
  .home-produtos button {
    font-size: 1.15rem;
  }
}

@media (max-width: 500px) {
  .img-titulo h1 {
    font-size: 3rem;
    text-align: center;
  }

  .img-titulo h2 {
    text-align: center;
    padding-inline: 5px;
    margin-top: 10px;
  }

  .home-produtos h1 {
    margin-bottom: 20px;
  }
}
