.img {
  background-image: url(../assets_reginaldo/bovina.jpeg);
  height: 150px;
  width: 230px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 10px;
  background-color: aqua;
}

.titulo {
  background-color: #fff;
  color: #a30f0f;
  padding-left: 80px;
}

#produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

#produtos button[data-button="add"]:hover {
  cursor: pointer;
  background-color: #a30f0f;
}

#produtos div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#produtos div[data-cod] {
  margin-bottom: 50px;
}

div [data-button="add"] {
  border: none;
}

div.ativo [data-button="add"] {
  display: none !important;
}

div.ativo .btn-number {
  display: block !important;
}

.container h3,
.container p {
  text-align: center;
  margin-top: 5px;
}

.container h3 {
  font-size: 0.85rem;
  background-color: #eedc8a;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  color: #8b0000;
}

.preco {
  display: inline-block;
}

[data-button="add"] {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  background-color: #8b0000;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.btn-number {
  margin-top: 10px;
  display: none !important;
}

.btn-number input {
  text-align: center;
  /* font-weight: bold; */
  width: 40px;
  border: 1px solid #000;
  border-radius: 4px;
}

.btn-number button {
  padding: 0px 3px 0px 3px;
}

.btn-number .minus,
.btn-number .plus {
  padding: 0px 5px 0px 5px;
}

.titulo-produto {
  font-weight: bold;
  color: #eedc8a;
  background-color: #8b0000;
  padding-left: 120px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* Código para esconder produtos via JS */

.preco-pacote,
.preco-kg {
  overflow: hidden;
  max-height: max-content;
  transition: max-height 0.4s ease;
}

.preco-pacote.hidden,
.preco-kg.hidden {
  max-height: 0;
  margin-top: 0;
}

.seta-pacote,
.seta-kg {
  display: inline-block;
  transition: transform 0.3s ease;
  transform: rotate(90deg);
  margin-right: 20px;
}

.seta-pacote.switch,
.seta-kg.switch {
  transform: rotate(0deg);
}

/* Código de responsividade */

@media (max-width: 1100px) {
  #produtos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #produtos {
    grid-template-columns: 1fr;
  }

  .titulo-produto {
    padding-left: 40px;
  }

  .titulo {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .titulo-produto {
    font-size: 1.2rem;
    padding-left: 20px;
  }

  .titulo {
    font-size: 0.75rem;
    padding-left: 15px;
  }

  .seta-kg,
  .seta-pacote {
    margin-right: 10px;
  }
}

.aviso-valores {
  justify-self: center;
  padding-top: 0%;
  margin-bottom: 100px;
}
