* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.content-about {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px 100px 20px;
  border-top: 5px solid #c3933f;
  border-bottom: 5px solid #c3933f;
}

.content {
  max-width: 100;
  text-align: center;
}

.content h1 {
  color: #8b0000;
  font-size: 45px;
  margin-bottom: 5px;
}

.content p {
  color: #000000;
  font-size: 22px;
  padding-inline: 30px;
}

.content-bg {
  background-color: #8b0000;
  border-bottom: 5px solid #c3933f;
  margin-bottom: 100px;
}

.content-historia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

.nossa-historia {
  display: grid;
  align-content: space-between;
}

.nossa-historia p {
  font-size: 1.3rem;
  max-width: max-content;
  letter-spacing: 1.5;
  margin-top: 20px;
  padding-left: 20px;
}

.nossa-historia h2 {
  font-size: 35px;
  color: #dfc571;
  text-align: center;
}

.img-quem-somos {
  background-image: url(../assets_reginaldo/img/donos-espetos.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  margin-right: 20px;
  height: 400px;
}

.endereco {
  width: 100%;
  padding: 10px 10px 40px 10px;
  background-color: #8b0000;
  margin-bottom: 200px;
}

.endereco h2 {
  text-align: center;
  font-size: 35px;
  color: #dfc571;
  margin-bottom: 10px;
}

iframe {
  border-radius: 5px;
}

@media (max-width: 850px) {
  .content-historia {
    grid-template-columns: 1fr;
  }

  .content-historia img {
    grid-row: 3;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .info-unidade h2 {
    margin-top: 20px;
  }

  .info-unidade p {
    text-align: center;
  }

  .endereco h2 {
    font-size: 1.75rem;
  }

  .img-quem-somos {
    margin-right: 0px;
  }
}

@media (max-width: 650px) {
  .content-about {
    padding-top: 50px;
  }

  .content h1 {
    font-size: 2rem;
    padding-bottom: 50px;
  }
}
